<?xml version="1.0" encoding="UTF-8"?>
<!--

       Copyright 2010-2025 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          https://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mybatis.jpetstore.mapper.RecommendationMessageMapper">

  <resultMap id="recommendationMessageResult" type="RecommendationMessage">
    <id property="username" column="username" />
    <id property="productId" column="productid" />
    <result property="recommended" column="is_recommended" />
    <result property="message" column="message" />
    <result property="lastUpdated" column="last_updated" />
  </resultMap>

  <select id="getMessagesForUser" resultMap="recommendationMessageResult">
    SELECT username,
           productid,
           is_recommended,
           message,
           last_updated
    FROM recommendation_messages
    WHERE username = #{username}
  </select>

  <select id="getMessage" resultMap="recommendationMessageResult">
    SELECT username,
           productid,
           is_recommended,
           message,
           last_updated
    FROM recommendation_messages
    WHERE username = #{username}
      AND productid = #{productId}
  </select>

  <delete id="deleteMessagesForUser">
    DELETE FROM recommendation_messages WHERE username = #{username}
  </delete>

  <insert id="insertRecommendationMessage">
    INSERT INTO recommendation_messages (
      username,
      productid,
      is_recommended,
      message,
      last_updated
    )
    VALUES (
      #{username},
      #{productId},
      #{recommended},
      #{message},
      CURRENT_TIMESTAMP
    )
  </insert>

</mapper>

